<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParallexCycleScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89FC90E71DDC690F00E97296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89FC91001DDC691000E97296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89FC910B1DDC691000E97296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
